body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*overflow: hidden;*/
}

header .contenedor {
    display: flex;
    /*Hace flexible el contendedor padre. En este caso .contenedor*/
    justify-content: space-between;
    /*Justifica con un espacio en el medio*/
}

header .lista-menu {
    display: flex;
}

header ul li {
    list-style: none;
    /*Quita los puntos por defecto*/
    margin-right: 15px;
}

header a {
    text-decoration: none;
    /*Quita subrayado de links*/
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    /*Ocupa el 90% del max-width*/
    margin: auto;
}

header {
    background: linear-gradient(180deg, rgba(72, 67, 154, .8) 0%, rgba(0, 0, 0, .8) 100%), url(../images/fondo.jpg);
    height: 100vh;
    /*Imagen se mantiene en su tamaño original sin ajustarse al tamaño de la ventana*/
    background-size: cover;
    /*Adapta imagen al ancho de la pantalla*/
}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    /*Todos los justify-content no funcionan sin flex*/
    margin: 18vh 0;
    /*18vh -> top & bottom // 0 -> left & right*/
}

h1 {
    font-size: 60px;
    color: #fff;
}

h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

header #contenedor-titulo-flex ul li a {
    font-size: 15px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px 24px;
    margin: 10px 0px;
    width: 128px;
    display: inline-block;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
}

#contenedor-titulo-flex {
    max-width: 1580px;
    width: 100%;
}

ul.botones {
    text-align: center;
}


/*Sección Sobre mi*/

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

#sobre-mi {
    margin: 0px;
    padding: 0px;
}

#sobre-mi .contenedor-sobremi {
    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto {
    width: 42%;
}

#sobre-mi img {
    margin: 0;
    border-radius: 50%;
    padding-bottom: 10px;
}


/*Formación*/

#formacion .contenedor-formacion {
    display: flex;
    justify-content: space-around;
}

#formacion img {
    margin: 0;
    border-radius: 8px;
    padding-bottom: 10px;
}


/*Experiencia laboral*/

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.servicio {
    width: 24%;
    padding: 34px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
    height: 150px;
}

.servicio .fecha {
    margin-bottom: 20px;
    height: 50px;
}

.servicio p {
    margin-bottom: 20px;
    height: 100px;
}

.contenedor-servicios .celeste,
#sobre-mi p {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}


/*Intereses*/

.contenedor-intereses {
    display: flex;
}

.contenedor-intereses .celeste {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

.int {
    width: 24%;
    padding: 34px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}


/*Hobbies*/

.contenedor-hobbies {
    display: flex;
    justify-content: space-around;
}

div .polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-hobby {
    height: 250px;
}

div.contenedor-hobby {
    text-align: center;
    padding: 10px 20px;
}


/*Footer*/

footer {
    background: #2f2f2f;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

footer img {
    margin: 20px 40px;
}

footer h3 {
    color: white;
    margin-bottom: 0;
}

.texto {
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}